# Archivos y carpetas de compilación de .NET
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.db
*.log
*.csproj.user
*.csproj.DotSettings
*.vs/

# Archivos de migraciones de Entity Framework
Migrations/

# Carpetas temporales y de depuración
debug/
Debug/
release/
Release/

# Archivos generados por IDEs y editores
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos de configuraciones locales
appsettings.Development.json
appsettings.local.json
launchSettings.json
.env

# Archivos de dependencias de NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Archivos del entorno de la CLI de dotnet
.dotnet/
.dotnet_tools/

# Archivos generados por Rider/JetBrains
*.DotSettings.user
.idea/
.idea_modules/
.idea/
.idea/
.idea_modules/
_ReSharper.*
*_ReSharper.*
*.sln.iml

# Archivos del sistema
.DS_Store
Thumbs.db
