/* Variables */
:root{
    --fuenteHeading: 'PT Sans  ', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --gris: #e1e1e1;
    --primario: #3557c7;
    --blanco: #FFFFFF;
    --negro: #000000;
}
/* Configuracion */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}
/* Globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}
.centrar-texto{
  text-align: center;
}
.alinear-derecha{
  display: flex;
  justify-content: flex-end;
}
/*login*/
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}
.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login p {
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}
.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.login input[type="submit"]:hover {
  background: #17c;
}
.login input[type="submit"]:focus {
  border-color: #05a;
}
/* permiso */
.permiso-bg{
    background-image: url(../img/permisos.jpeg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.campo__label{
    flex: 0 0 0rem;
    margin-bottom: 1rem;
    background-color: #e1e1e1;
    color: #17c;
}
.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea{
    height: 200px;
    margin: 10rem;
}
.fecha{
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}
/* boton */
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: #28d;
}
/* tabla */
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #28d;
  color: white;
}
@media (min-width: 768px) {
  
}
